.root{
    -fx-background-color: #dcffed;
}

.button{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 3 6 6 6;
    -fx-font-size: 15;
}

.slider {
    -fx-block-increment: 10;
    -fx-major-tick-unit: 50;
    -fx-minor-tick-count: 5;
    -fx-show-tick-labels: true;

}

#gotchi-creation-form {
    -fx-spacing: 5;
    -fx-padding: 20, 20, 0 ,20;
}

#create-gotchi-stat-field{
    -fx-spacing: 10;
    -fx-background-color: #fff3f8;
    -fx-max-width: 230;
    -fx-padding: 5, 0, 0, 0;
}

#buttons-border{
    -fx-background-color: #eee6e4;
    -fx-padding: 0 0 0 2;
    -fx-spacing: 210;
}

#choose-gotchi-border{
    -fx-background-color: #eee6e4;
    -fx-padding: 0 15 0 15;
    -fx-alignment: center-left;
    -fx-spacing: 15;
}

#create-gotchi-buttons{
    -fx-padding: 30 0 20 40;
    -fx-spacing: 300;
}

#create-gotchi-warning-msg {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#gotchi-battle-info{
    -fx-font-size: 15;
    -fx-spacing: 20;
    -fx-background-color: #45ff06;
    -fx-alignment: center;
}

#enemy-gotchi-battle-info{
    -fx-font-size: 13;
    -fx-spacing: 8;
    -fx-pref-width: 130;
    -fx-background-color: #eee6e4;
    -fx-alignment: center;
}

#action-choose{
     -fx-font-size: 13;
     -fx-alignment: center-left;
     -fx-padding: 10;
     -fx-spacing: 10;
     -fx-pref-width: 130;
     -fx-background-color: #eee6e4;
 }

#battle-message-view{
    -fx-font-size: 13;
    -fx-spacing: 5;
    -fx-pref-width: 640;
    -fx-pref-height: 90;
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1;
}

#pane{
    -fx-background-color: #ffffff;
    -fx-background-image: url("poki.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 430 180;
    -fx-background-position: bottom;
}

.my-special-button{
    -fx-pref-width: 200px;
}

#hbox-custom {
    -fx-background-image: url("title.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 640, 90;
    -fx-padding: 140 0 30 0;
    -fx-spacing: 25;
}

#vbox-custom-rock {
    -fx-background-image: url("squirtle.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 380, 230;
}

#vbox-custom-paper {
    -fx-background-image: url("bulbasaur.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 300, 190;
}

#vbox-custom-scissors {
    -fx-background-image: url("charmander.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 300, 190;
}

#hbox-enemy-rock {
    -fx-background-image: url("squirtle-front.png");
    -fx-background-position: right;
    -fx-background-repeat: stretch;
    -fx-background-size: 100, 60;
}

#hbox-enemy-paper {
    -fx-background-image: url("bulbasaur-front.png");
    -fx-background-position: right;
    -fx-background-repeat: stretch;
    -fx-background-size: 100, 60;
}

#hbox-enemy-scissors {
    -fx-background-image: url("charmander-front.png");
    -fx-background-position: right;
    -fx-background-repeat: stretch;
    -fx-background-size: 80, 50;
}

#hbox-gotchi-rock {
    -fx-background-image: url("squirtle-back.png");
    -fx-background-position: left;
    -fx-background-repeat: stretch;
    -fx-background-size: 120, 60;
}

#hbox-gotchi-paper {
    -fx-background-image: url("bulbasaur-back.png");
    -fx-background-position: left;
    -fx-background-repeat: stretch;
    -fx-background-size: 130, 70;
}

#hbox-gotchi-scissors {
    -fx-background-image: url("charmander-back.png");
    -fx-background-position: left;
    -fx-background-repeat: stretch;
    -fx-background-size: 110, 90;
}