.root{
    -fx-background-color: #dcffed;
}

.button{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 3 6 6 6;
    -fx-font-size: 15;
}

#gotchi-battle-info{
    -fx-font-size: 15;
    -fx-spacing: 20;
    -fx-background-color: #45ff06;
}

#enemy-gotchi-battle-info{
    -fx-font-size: 13;
    -fx-spacing: 8;
    -fx-pref-width: 130;
    -fx-background-color: #eee6e4;
}

#action-choose{
     -fx-font-size: 13;
     -fx-alignment: center-left;
     -fx-padding: 10;
     -fx-spacing: 10;
     -fx-pref-width: 130;
     -fx-background-color: #eee6e4;
 }

#battle-message-view{
    -fx-font-size: 13;
    -fx-spacing: 5;
    -fx-pref-width: 640;
    -fx-pref-height: 100;
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1;
}

#pane{
    -fx-background-color: #ffffff;
    -fx-background-image: url("poki.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 430 180;
    -fx-background-position: bottom;
}

.my-special-button{
    -fx-pref-width: 200px;
}

#hbox-custom {
    -fx-background-image: url("title.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 640, 90;
    -fx-padding: 140 0 30 0;
    -fx-spacing: 25;
}

#vbox-custom-rock {
    -fx-background-image: url("squirtle.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 380, 230;
}

#vbox-custom-paper {
    -fx-background-image: url("bulbasaur.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 300, 190;
}

#vbox-custom-scissors {
    -fx-background-image: url("charmander.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 300, 190;
}