.root{
    -fx-background-color: #ecffd7;
}

.button{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 3 6 6 6;
    -fx-font-size: 15;
}

#pane{
    -fx-background-color: #ffffff;
    -fx-background-image: url("poki.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 430 180;
    -fx-background-position: bottom;
}